html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
  background-color: #f5f7fa;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

.v-dialog .v-card {
  backdrop-filter: blur(6px);
}

.text-black{
  color: #000;
}

